<%- include('partials/header'); -%>
<div class="container">
  <div class="row">
    <div class="col">
        <h1>Hello Kittens</h1>
        <p><button><a href="/shuffle" >Shuffle</a></button></p>
        <ul>
          <% kittens.forEach(function({id, name, image}) { %>
            <li><strong>Name : <%=  name %></strong>
              <a href="kitten/<%= id %>">
                <img src="/images/<%= image %>" width="200" />
              </a>
            </li>
          <% } ) %>
        </ul>
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>
